<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MC-sheet-ulti_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.357143,0.418367}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{204,162},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet-ulti_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.357143,0.418367}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{260,162},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet-ulti_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.357143,0.418367}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{316,162},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.78125,0.465909}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{24,162},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.714286,0.476744}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{346,118},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.694444,0.488095}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{250,118},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.525641}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{72,77},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.409836,1.07895}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,19}</string>
                <key>spriteSourceSize</key>
                <string>{61,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1.04167,0.465909}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{0,162},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.806452,0.476744}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{315,118},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{1.04167,0.476744}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,43}</string>
                <key>spriteSourceSize</key>
                <string>{24,43}</string>
                <key>textureRect</key>
                <string>{{381,118},{24,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.862069,0.476744}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{286,118},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.609756,0.585714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{221,0},{41,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.609756,0.602941}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{139,0},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.609756,0.585714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{180,0},{41,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.609756,0.602941}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{98,0},{41,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.675676,0.621212}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{61,0},{37,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.490196,0.5125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{262,77},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.581395,0.372727}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,55}</string>
                <key>spriteSourceSize</key>
                <string>{43,55}</string>
                <key>textureRect</key>
                <string>{{436,162},{43,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.367647,0.43617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{136,162},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.362319,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{0,38},{69,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.362319,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{69,38},{69,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.625,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{313,77},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.531915,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{353,77},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.357143,0.525641}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,39}</string>
                <key>spriteSourceSize</key>
                <string>{70,39}</string>
                <key>textureRect</key>
                <string>{{122,77},{70,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.280899,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,38}</string>
                <key>spriteSourceSize</key>
                <string>{89,38}</string>
                <key>textureRect</key>
                <string>{{299,38},{89,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,38}</string>
                <key>textureRect</key>
                <string>{{351,0},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.543478,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{157,118},{46,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.428571,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,41}</string>
                <key>spriteSourceSize</key>
                <string>{49,41}</string>
                <key>textureRect</key>
                <string>{{400,77},{49,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.372727}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,55}</string>
                <key>textureRect</key>
                <string>{{372,162},{64,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.4,0.301471}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{50,68}</string>
                <key>textureRect</key>
                <string>{{422,217},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.396825,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{0,118},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.531915,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{110,118},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.357143,0.525641}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,39}</string>
                <key>spriteSourceSize</key>
                <string>{70,39}</string>
                <key>textureRect</key>
                <string>{{192,77},{70,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.280899,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,38}</string>
                <key>spriteSourceSize</key>
                <string>{89,38}</string>
                <key>textureRect</key>
                <string>{{262,0},{89,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.43617}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,47}</string>
                <key>spriteSourceSize</key>
                <string>{80,47}</string>
                <key>textureRect</key>
                <string>{{56,162},{80,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.3125,0.539474}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,38}</string>
                <key>textureRect</key>
                <string>{{138,38},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{63,118},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{388,38},{75,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{405,118},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{203,118},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{0,77},{72,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MC-sheet_99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,38}</string>
                <key>spriteSourceSize</key>
                <string>{81,38}</string>
                <key>textureRect</key>
                <string>{{218,38},{81,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{264,217},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{212,217},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{369,217},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{108,217},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{0,217},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{52,217},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,57}</string>
                <key>spriteSourceSize</key>
                <string>{52,57}</string>
                <key>textureRect</key>
                <string>{{160,217},{52,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{316,217},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MC-sprite.png</string>
            <key>size</key>
            <string>{487,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:034648a526721198159fcdd9a005f8d0:009d52fe11ccbd9573d8afc6af275555:9abe464c43bcd70c594ad9b64a259e9f$</string>
            <key>textureFileName</key>
            <string>MC-sprite.png</string>
        </dict>
    </dict>
</plist>
