<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Green_Archer_127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.54321}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{81,90},{62,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.55}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{145,116},{58,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.54321}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,81}</string>
                <key>spriteSourceSize</key>
                <string>{52,81}</string>
                <key>textureRect</key>
                <string>{{464,84},{52,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.556962}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{407,109},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.571429}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{464,138},{45,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.594595}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{483,185},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.721311}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{1,184},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.6875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{197,176},{69,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.628571}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{59,70}</string>
                <key>textureRect</key>
                <string>{{560,44},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.594595}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,74}</string>
                <key>spriteSourceSize</key>
                <string>{55,74}</string>
                <key>textureRect</key>
                <string>{{407,190},{55,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.505747}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.505747}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{87,1},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.637681}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{131,176},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.88}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{296,124},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1.375}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,32}</string>
                <key>spriteSourceSize</key>
                <string>{41,32}</string>
                <key>textureRect</key>
                <string>{{578,1},{41,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,88}</string>
                <key>textureRect</key>
                <string>{{374,67},{40,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.494382}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,89}</string>
                <key>spriteSourceSize</key>
                <string>{38,89}</string>
                <key>textureRect</key>
                <string>{{469,44},{38,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.453608}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,97}</string>
                <key>spriteSourceSize</key>
                <string>{49,97}</string>
                <key>textureRect</key>
                <string>{{170,65},{49,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.411215}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,107}</string>
                <key>spriteSourceSize</key>
                <string>{41,107}</string>
                <key>textureRect</key>
                <string>{{469,1},{41,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.423077}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{62,104}</string>
                <key>textureRect</key>
                <string>{{170,1},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.473118}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{64,93}</string>
                <key>textureRect</key>
                <string>{{374,1},{64,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.458333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,96}</string>
                <key>spriteSourceSize</key>
                <string>{65,96}</string>
                <key>textureRect</key>
                <string>{{276,1},{65,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.60274}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{559,162},{49,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.628571}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{547,116},{44,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.53012}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{54,83}</string>
                <key>textureRect</key>
                <string>{{269,68},{54,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.628205,0.478261}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{1,90},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.666667}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,66}</string>
                <key>spriteSourceSize</key>
                <string>{77,66}</string>
                <key>textureRect</key>
                <string>{{328,176},{77,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green_Archer_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.698413}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{263,176},{69,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.656716}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{50,67}</string>
                <key>textureRect</key>
                <string>{{227,124},{50,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Green_Archer_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.611111}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{81,173},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Archer.png</string>
            <key>size</key>
            <string>{620,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e438b27eaee478f85dbc2fecd3620f:8ed33cfebdad90b46108d2b7942b475e:81287408fef9b8132444c928098dad2c$</string>
            <key>textureFileName</key>
            <string>Archer.png</string>
        </dict>
    </dict>
</plist>
