<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cow_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.377551,0.55}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,100}</string>
                <key>spriteSourceSize</key>
                <string>{49,100}</string>
                <key>textureRect</key>
                <string>{{165,105},{49,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.526316}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{77,95}</string>
                <key>textureRect</key>
                <string>{{392,1},{77,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.526316}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,95}</string>
                <key>textureRect</key>
                <string>{{376,99},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.531915}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{457,98},{85,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.515464}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{245,1},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,98}</string>
                <key>spriteSourceSize</key>
                <string>{75,98}</string>
                <key>textureRect</key>
                <string>{{216,102},{75,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,96}</string>
                <key>spriteSourceSize</key>
                <string>{81,96}</string>
                <key>textureRect</key>
                <string>{{293,100},{81,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.364583,0.833333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{330,1},{96,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.306818,0.723077}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{568,157},{88,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.449495,0.724638}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,69}</string>
                <key>textureRect</key>
                <string>{{174,1},{99,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.476471,0.595238}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{559,71},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.490196}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,102}</string>
                <key>spriteSourceSize</key>
                <string>{85,102}</string>
                <key>textureRect</key>
                <string>{{87,1},{85,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.581395}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{471,1},{88,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.581395}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{68,86}</string>
                <key>textureRect</key>
                <string>{{559,1},{68,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.520833}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,96}</string>
                <key>spriteSourceSize</key>
                <string>{56,96}</string>
                <key>textureRect</key>
                <string>{{300,198},{56,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.454545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.458716}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,109}</string>
                <key>spriteSourceSize</key>
                <string>{84,109}</string>
                <key>textureRect</key>
                <string>{{79,113},{84,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.454545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,110}</string>
                <key>spriteSourceSize</key>
                <string>{76,110}</string>
                <key>textureRect</key>
                <string>{{1,113},{76,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.60241}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,83}</string>
                <key>spriteSourceSize</key>
                <string>{59,83}</string>
                <key>textureRect</key>
                <string>{{483,194},{59,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.793651}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{51,63}</string>
                <key>textureRect</key>
                <string>{{235,202},{51,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.925926}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{398,196},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cow_2_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.735294}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{165,207},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cow_2_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,1.5625}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,32}</string>
                <key>spriteSourceSize</key>
                <string>{43,32}</string>
                <key>textureRect</key>
                <string>{{449,196},{43,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buffalo_Monster.png</string>
            <key>size</key>
            <string>{646,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d45d9e2a15fcc91fa99035c8bf0dad:871f46ca1709d8df77b151fd77bac799:b47a4c883ad9c7be5035c52447572759$</string>
            <key>textureFileName</key>
            <string>Buffalo_Monster.png</string>
        </dict>
    </dict>
</plist>
