<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{70,114}</string>
                <key>textureRect</key>
                <string>{{1,167},{70,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{70,115}</string>
                <key>textureRect</key>
                <string>{{117,168},{70,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,114}</string>
                <key>spriteSourceSize</key>
                <string>{51,114}</string>
                <key>textureRect</key>
                <string>{{118,62},{51,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,114}</string>
                <key>spriteSourceSize</key>
                <string>{51,114}</string>
                <key>textureRect</key>
                <string>{{1,114},{51,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,115}</string>
                <key>spriteSourceSize</key>
                <string>{29,115}</string>
                <key>textureRect</key>
                <string>{{1,31},{29,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,115}</string>
                <key>spriteSourceSize</key>
                <string>{29,115}</string>
                <key>textureRect</key>
                <string>{{118,31},{29,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,114}</string>
                <key>spriteSourceSize</key>
                <string>{28,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,115}</string>
                <key>spriteSourceSize</key>
                <string>{28,115}</string>
                <key>textureRect</key>
                <string>{{117,1},{28,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,114}</string>
                <key>spriteSourceSize</key>
                <string>{51,114}</string>
                <key>textureRect</key>
                <string>{{117,115},{51,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,115}</string>
                <key>spriteSourceSize</key>
                <string>{50,115}</string>
                <key>textureRect</key>
                <string>{{1,62},{50,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{1,1048},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{70,115}</string>
                <key>textureRect</key>
                <string>{{1,240},{70,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{70,115}</string>
                <key>textureRect</key>
                <string>{{118,240},{70,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{1,312},{88,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{1,402},{89,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{102,114}</string>
                <key>textureRect</key>
                <string>{{1,493},{102,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{1,597},{104,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{112,115}</string>
                <key>textureRect</key>
                <string>{{1,703},{112,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{118,703},{112,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{1,932},{117,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{119,1048},{116,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{120,932},{117,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{112,115}</string>
                <key>textureRect</key>
                <string>{{1,817},{112,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,115}</string>
                <key>spriteSourceSize</key>
                <string>{113,115}</string>
                <key>textureRect</key>
                <string>{{118,817},{113,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{103,114}</string>
                <key>textureRect</key>
                <string>{{117,493},{103,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,115}</string>
                <key>spriteSourceSize</key>
                <string>{103,115}</string>
                <key>textureRect</key>
                <string>{{117,598},{103,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,114}</string>
                <key>spriteSourceSize</key>
                <string>{88,114}</string>
                <key>textureRect</key>
                <string>{{118,312},{88,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{118,402},{89,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Coin$.png</string>
            <key>size</key>
            <string>{238,1165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:129000a21928aa233afd3cee17ee4e81:bfa37988712a8b5856b39cfbfd127fea:b25e999a94810714dd3173d0231bc47e$</string>
            <key>textureFileName</key>
            <string>Coin$.png</string>
        </dict>
    </dict>
</plist>
